<a href="https://colab.research.google.com/github/Ravindra1972/Anaytics-in-finance-using-Python/blob/main/Financial_Calculations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import math

In [2]:
#simple interest

def simple_interest(p, r, t):

    print('Amount: ', p)
    print("Rate of Interest (Per Annum)", r)
    print("Time (In Years): ",t)

    si=(p*r*t)/100

    a= p+si

    print("Final Amount: ", a)
    print("Simple Interest: ", si)

In [3]:
simple_interest(1000, 5, 3)

Amount:  1000
Rate of Interest (Per Annum) 5
Time (In Years):  3
Final Amount:  1150.0
Simple Interest:  150.0

In [4]:
#compound interest

def compound_interest(p,r,t):

    print('Amount: ', p)
    print("Rate of Interest (Per Annum)", r)
    print("Time (In Years): ",t)

    a= p*((1+r/100)**t)

    ci= a-p
    print("Final Amount: ", a)
    print("Compound Interest: ", ci)

In [5]:
compound_interest(1000,10, 2)

Amount:  1000
Rate of Interest (Per Annum) 10
Time (In Years):  2
Final Amount:  1210.0000000000002
Compound Interest:  210.00000000000023

In [6]:
# Purchasing power

def pur_power(p,r,t):

    print("Initial Amount: ",p)
    print("Annual Inflation Rate: ",r)
    print("Time in years:", t)

    a= p* ((100/(100+r))**t)

    print("Final amount after",t,"years of inflation: ", a)

In [7]:
pur_power(10000,5,10)

Initial Amount:  10000
Annual Inflation Rate:  5
Time in years: 10
Final amount after 10 years of inflation:  6139.13253540759

In [8]:
#compound annual growth rate

def CAGR(p,a, t ):

    print("Initial value of money: ",p)
    print('Final value of money: ',a)
    print("Time in years: ", t)
    t_inv=1/t

    cagr_rate= (((a/p)**t_inv)  -1)*100

    print("Compound Annual Growth Rate (CAGR): ", cagr_rate)

In [9]:
#monthly EMI calculation

def EMI(p,r,n):

    print("Total Loan Amount: ",p)
    print("Rate of Interest: ",r)
    print("Number of installments: ",n)

    r_mon=  r/(12*100)

    emi = p * r_mon * ((1+r_mon)**n)/((1+r_mon)**n - 1)
    print("EMI for",n,"months: ",emi )

In [10]:
EMI(500000,8, 24)

Total Loan Amount:  500000
Rate of Interest:  8
Number of installments:  24
EMI for 24 months:  22613.645728092295

In [11]:
#doubling time calculation

def double(r):

    print("Rate of Interest: ",r)

    t= math.log(2)/math.log(1+ (r/100))

    print("Time taken in years to double money at",r,"percent PA: ", t)

In [12]:
double(8)

Rate of Interest:  8
Time taken in years to double money at 8 percent PA:  9.006468342000588

In [13]:
#Weighted Average
ratio=[0.20, 0.25, 0.35,0.10, 0.10]
rates=[7.5, 8.5, 8, 5, 6]


def weighted_average(ratio,rates):

    wa=0

    for i in range(len(ratio)):

        wa= wa+ ratio[i]*rates[i]

    print("Weighted Average returns: ",wa)

In [14]:
weighted_average(ratio,rates)

Weighted Average returns:  7.525

In [15]:
import numpy as np
import matplotlib.pyplot as plt

In [16]:
# Simple interest
def fv_simple(pv: float, r: float, n: int):
    return (1+r*n)*pv

def pv_simple(fv: float, r: float, n: int):
    return fv / (1 + r * n)

def r_simple(pv: float, fv: float, n: int):
    return (fv/pv - 1) /  n

In [17]:
starting_capital = 1000 # PV
r = 0.05 # 5% interest
n = 50 # Years

In [18]:
fv = fv_simple(starting_capital, r, n)
fv

3500.0

In [19]:
pv = pv_simple(fv, r, n)
pv

1000.0

In [20]:
r_simple(pv, fv, n)

0.05

In [21]:
#Compound Interest
def fv_compound(pv, r: float, n: int):
    return pv * (1+r)**n

def pv_compound(fv: float, r: float, n: int):
    return fv / (1 + r)**n

def r_compound(pv: float, fv: float, n: int):
    return (fv/pv)**(1/n) - 1

In [22]:
fv = fv_compound(starting_capital, r, n)
fv

11467.399785753702

In [23]:
pv = pv_compound(fv, r, n)
pv

1000.0000000000001

In [24]:
r_compound(pv, fv, n)

0.050000000000000044

In [25]:
m = 12 # Monthly compounding

In [26]:
def fv_interval(pv: float, r: float, n: int, m: int):
    return ((1 + r / m)**(m * n)) * pv

def pv_interval(fv: float, r: float, n: int, m: int):
    return fv / (1+r/m)**(m*n)

def r_interval(pv: float, fv: float, n: int, m: int):
    return ((fv / pv)**(1/(m*n)) - 1)* m

In [27]:
fv = fv_interval(starting_capital, r, n, m)
fv

12119.383211406064

In [28]:
pv = pv_interval(fv, r, n, m)
pv

1000.0000000000001

In [29]:
r_interval(pv, fv, n, m)

0.04999999999999982

In [30]:
#Continuous Interest
def fv_continuous(pv: float, r: float, n: int):
    return np.exp(r * n) * pv

def pv_continuous(fv: float, r: float, n: int):
    return fv / np.exp(r * n)

def r_continuous(pv: float, fv: float, n: int):
    return np.log(fv/pv) / n

In [31]:
fv = fv_continuous(starting_capital, r, n)
fv

12182.493960703474

In [32]:
pv = pv_continuous(fv, r, n)
pv

1000.0000000000001

In [33]:
r_continuous(pv, fv, n)

0.05

In [34]:
#Interest with periodic deposit
A = 100. # Monthly added deposit

In [35]:
def fv_with_deposit(r: float, n: int, m: int, a: float):
    return (a / (r/m)) * ((1 + r/m)**(m*n) - 1)

def pv_with_deposit(r: float, n: int, m: int, a: float):
    return (a / (r/m)) * (1 - 1 / (1 + r / m)**(m*n))

In [36]:
fv = fv_with_deposit(r, n, m, A)
fv

266865.19707374554

In [37]:
pv_with_deposit(r, n, m, A)

22019.7012024991