<a href="https://colab.research.google.com/github/Ravindra1972/Anaytics-in-finance-using-Python/blob/main/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
import pandas as pd
import numpy as np

In [3]:
#Hello World Program

In [2]:
print("Hello, World!")

Hello, World!

In [ ]:
#Simple Calculator

In [5]:
a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))
print("Sum:", a + b)
print("Difference:", a - b)
print("Product:", a * b)
print("Quotient:", a / b)

Enter the first number: 3
Enter the second number: 4
Sum: 7
Difference: -1
Product: 12
Quotient: 0.75

In [ ]:
#Factorial of a number

In [20]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

num = int(input("Enter a number: "))
print("Factorial:", factorial(num))

Enter a number: 4
Factorial: 24

In [ ]:
#4.	Fibonacci Sequence

In [33]:
def fibonacci(n):
 if n <= 1:
  return n
 else:
  return fibonacci(n - 1) + fibonacci(n - 2)

terms = int(input("Enter the number of terms: "))
print("Fibonacci sequence:")
for i in range(terms):
 print(fibonacci(i))

Enter the number of terms: 20
Fibonacci sequence:
0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181

In [ ]:
#5.	Check for Prime Number

In [44]:
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True

num = int(input("Enter a number: "))
if is_prime(num):
    print("Prime")
else:
    print("Not prime")

Enter a number: 3
Prime

In [ ]:
#6.	Simple Interest Calculator

In [45]:
p = float(input("Enter the principal amount: "))
r = float(input("Enter the rate of interest: "))
t = float(input("Enter the time period: "))
interest = (p * r * t) / 100
print("Simple Interest:", interest)

Enter the principal amount: 5000
Enter the rate of interest: 5
Enter the time period: 3
Simple Interest: 750.0

In [46]:
#7.	Check for Even or Odd

In [47]:
num = int(input("Enter a number: "))
if num % 2 == 0:
    print("Even")
else:
    print("Odd")

Enter a number: 45
Odd

In [ ]:
#8.	Area of a Circle$

In [48]:
import math

radius = float(input("Enter the radius of the circle: "))
area = math.pi * radius * radius
print("Area:", area)

Enter the radius of the circle: 4
Area: 50.26548245743669

In [ ]:
#9.	List Comprehension

In [49]:
squares = [i ** 2 for i in range(10)]
print("Squares:", squares)

Squares: [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
#10.	Simple File Handling

In [50]:
# Writing to a file
with open("output.txt", "w") as file:
      file.write("Hello, this is a sample text.")

In [51]:
# Reading from a file
with open("output.txt", "r") as file: data = file.read()
print("Data from file:", data)

Data from file: Hello, this is a sample text.

In [ ]:
#2.	Find the Largest Among Three Numbers

In [53]:
a = float(input("Enter the first number: "))
b = float(input("Enter the second number: "))
c = float(input("Enter the third number: "))
max_num = max(a, b, c)
print("Largest number:", max_num)

Enter the first number: 23
Enter the second number: 34
Enter the third number: 35
Largest number: 35.0

In [55]:
#3.	Print Multiplication Table
num = int(input("Enter a number: "))
for i in range(1, 11):
           print(f"{num} x {i} = {num * i}")

Enter a number: 8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

In [ ]:
#4.	Convert Celsius to Fahrenheit

In [56]:
celsius = float(input("Enter temperature in Celsius: "))
fahrenheit = (celsius * 9/5) + 32
print("Temperature in Fahrenheit:", fahrenheit)

Enter temperature in Celsius: 45
Temperature in Fahrenheit: 113.0

In [57]:
#5.	Simple String Operations
string = "Hello, World!"
print("Length of the string:", len(string))
print("Uppercase:", string.upper())
print("Lowercase:", string.lower())
print("Reversed string:", string[::-1])

Length of the string: 13
Uppercase: HELLO, WORLD!
Lowercase: hello, world!
Reversed string: !dlroW ,olleH

In [63]:
#6.	Bubble Sort Algorithm
def bubble_sort(arr):
    n = len(arr)
    for i in range(n - 1):
        for j in range(0, n - i - 1):
            if arr[j] > arr[j + 1]:
                arr[j], arr[j + 1] = arr[j + 1], arr[j]

arr = [64, 34, 25, 12, 22, 11, 90]
bubble_sort(arr)
print("Sorted array:", arr)

Sorted array: [11, 12, 22, 25, 34, 64, 90]

In [64]:
#7.	Check Leap Year
def is_leap_year(year):
    if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
        return True
    return False

year = int(input("Enter a year: "))
if is_leap_year(year):
    print("Leap year")
else:
    print("Not a leap year")

Enter a year: 2037
Not a leap year

In [66]:
#8.	Count Vowels in a String
def count_vowels(s):
    vowels = 'aeiouAEIOU'
    count = 0

    for char in s:
        if char in vowels:
            count += 1
    return count

string = input("Enter a string: ")
print("Number of vowels:", count_vowels(string))

Enter a string: Ravindra babu
Number of vowels: 5

In [67]:
#9.	Find the LCM of Two Numbers
def compute_lcm(x, y):
    if x > y:
        greater = x
    else:
        greater = y

    while True:
        if greater % x == 0 and greater % y == 0:
            lcm = greater
            break
        greater += 1

    return lcm

num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
print("LCM:", compute_lcm(num1, num2))

Enter first number: 23
Enter second number: 45
LCM: 1035

In [68]:
#10.	Basic Class and Object
class Rectangle:
    def __init__(self, length, width):
        self.length = length
        self.width = width

    def area(self):
        return self.length * self.width

length = float(input("Enter length of the rectangle: "))
width = float(input("Enter width of the rectangle: "))
rect = Rectangle(length, width)
print("Area of the rectangle:", rect.area())

Enter length of the rectangle: 15
Enter width of the rectangle: 8
Area of the rectangle: 120.0

In [69]:
#2.	Generate a Random Number
import random

print("Random number:", random.randint(1, 100))

Random number: 31

In [70]:
#3.	Binary Search Algorithm
def binary_search(arr, x):
    low = 0
    high = len(arr) - 1

    while low <= high:
        mid = (low + high) // 2
        if arr[mid] < x:
            low = mid + 1
        elif arr[mid] > x:
            high = mid - 1
        else:
            return mid

    return -1

arr = [2, 3, 4, 10, 40]
x = 10
result = binary_search(arr, x)

if result != -1:
    print(f"Element found at index {result}")
else:
    print("Element not found")

Element found at index 3

In [71]:
#4.	Check Armstrong  Number
def is_armstrong(n):
    order = len(str(n))
    temp = n
    sum = 0
    while temp > 0:
        digit = temp % 10
        sum += digit ** order
        temp //= 10
    return n == sum

number = int(input("Enter a number: "))
if is_armstrong(number):
    print("Armstrong number")
else:
    print("Not an Armstrong number")

Enter a number: 345
Not an Armstrong number

In [74]:
#5.	Generate a Simple Pattern
n = 15
for i in range(n):
  print('* ' * (i + 1))

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *
* * * * * * * * * * *
* * * * * * * * * * * *
* * * * * * * * * * * * *
* * * * * * * * * * * * * *
* * * * * * * * * * * * * * *

In [75]:
#6.	Linear Search Algorithm
def linear_search(arr, x):
    for i in range(len(arr)):
        if arr[i] == x:
            return i
    return -1

arr = [4, 2, 1, 7, 5]
x = 7
result = linear_search(arr, x)

if result != -1:
    print(f"Element found at index {result}")
else:
    print("Element not found")

Element found at index 3

In [76]:
#7.	Calculate the Power of a Number
base = int(input("Enter the base: "))
exponent = int(input("Enter the exponent: "))
result = base ** exponent
print("Result:", result)

Enter the base: 10
Enter the exponent: 5
Result: 100000

In [77]:
#8.	Print the Fibonacci Series
def fibonacci_series(n):
    a, b = 0, 1
    for _ in range(n):
        print(a, end=" ")
        a, b = b, a + b

terms = int(input("Enter the number of terms: "))
print("Fibonacci series:")
fibonacci_series(terms)

Enter the number of terms: 10
Fibonacci series:
0 1 1 2 3 5 8 13 21 34

In [78]:
#9.	Merge Two Sorted Lists
list1 = [1, 3, 5, 7]
list2 = [2, 4, 6, 8]
merged_list = sorted(list1 + list2)
print("Merged and sorted list:", merged_list)

Merged and sorted list: [1, 2, 3, 4, 5, 6, 7, 8]

In [79]:
#10.	Generate a Simple Pyramid Pattern
for i in range(n):
            print(" " * (n - i - 1) + "*" * (2 * i + 1))

              *
             ***
            *****
           *******
          *********
         ***********
        *************
       ***************
      *****************
     *******************
    *********************
   ***********************
  *************************
 ***************************
*****************************

In [80]:
#1.	Check if a Number is Positive, Negative, or Zero
num = float(input("Enter a number: "))

if num > 0:
    print("Positive number")
elif num < 0:
    print("Negative number")
else:
    print("Zero")

Enter a number: -25
Negative number

In [82]:
#2.	Generate a List of Prime Numbers within a Range
def generate_primes(start, end):
    primes = []
    for num in range(start, end + 1):
        if num > 1:
            is_prime = True
            for i in range(2, int(num ** 0.5) + 1):
                if num % i == 0:
                    is_prime = False
                    break
            if is_prime:
                primes.append(num)
    return primes

start_range = int(input("Enter the starting range: "))
end_range = int(input("Enter the ending range: "))
print("Prime numbers:", generate_primes(start_range, end_range))

Enter the starting range: 34
Enter the ending range: 46
Prime numbers: [37, 41, 43]

In [ ]:
#6.	Print the Sum of Natural Numbers up to a Given Number
n = int(input("Enter a number: "))
sum = 0
for i in range(1, n + 1):
    sum += i

print("Sum of natural numbers:", sum)